.dosen-list-container {
    padding: 20px;
}

.dosen-list-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.dosen-table {
    width: 100%;
    border-collapse: collapse;
}

.dosen-table th, .dosen-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.dosen-table th {
    background-color: #16a085;
    color: white;
}

.dosen-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

/* Detail Button */
.btn-detail {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}

.btn-detail:hover {
    background-color: #45a049;
}

/* Delete Button */
.btn-delete {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
}

.btn-delete:hover {
    background-color: #e41f1f;
}

/* Add Dosen Button */
.btn-add {
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
}

.btn-add:hover {
    background-color: #007B9E;
}

/* Add Dosen Button */
.btn-update {
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
}

.btn-update:hover {
    background-color: #007B9E;
}
